[submodule "DotCef"]
	path = DotCef
	url = https://gitlab.futo.org/videostreaming/dotcef.git
[submodule "Grayjay.Engine.Temp"]
	path = Grayjay.Engine
	url = https://gitlab.futo.org/videostreaming/Grayjay.Engine.git
[submodule "FUTO.MDNS"]
	path = FUTO.MDNS
	url = https://gitlab.futo.org/videostreaming/FUTO.MDNS.git
[submodule "Grayjay.Engine"]
	path = Grayjay.Engine
	url = https://gitlab.futo.org/videostreaming/Grayjay.Engine.git
[submodule "JustCef"]
	path = JustCef
	url = https://gitlab.futo.org/videostreaming/JustCef.git
